@media screen and (max-width: 1000px){
    #main > div {
        flex-direction: column;
    }
    #UserForm{
        margin: 20px auto;
        max-width: 900px;
        width: 90%;
        height: auto;
        padding-bottom: 10px;
    }
    .toggle-info{
        display: inline-block;
        width: 45%;
    }
    .user{
        width: 30%;
    }
    
}
@media screen and (max-width: 768px){
    .title{
        width: 50%;
    }
}
@media screen and (max-width: 400px){
    #next,
    #pause,
    #previous{
        width: 100px;
    }
    .fas{
        display: none;
    }
}